#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
  
.playingCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.playingCards div {
  margin: 0 10px 10px 0;
}

.playingCards input {
  display: none;
}

.card{
  transition: 0.3s ease-in-out; 
}

.playingCards input:checked + .card {
  /* border: 2px solid #e74c3c;  */
  box-shadow: 0 10px 5px 1px #ad5287; 
  transform: translateY(-10px);
  transition: 0.1s ease-in-out; 
}

.outcomeMessage {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
